background-color-aliceblue { background-color: aliceblue; }
.border-color-aliceblue { border-color: aliceblue; }
.color-antiquewhite { color: antiquewhite; }
.background-color-antiquewhite { background-color: antiquewhite; }
.border-color-antiquewhite { border-color: antiquewhite; }
.color-aqua { color: aqua; }
.background-color-aqua { background-color: aqua; }
.border-color-aqua { border-color: aqua; }
.color-aquamarine { color: aquamarine; }
.background-color-aquamarine { background-color: aquamarine; }
.border-color-aquamarine { border-color: aquamarine; }
.color-azure { color: azure; }
.background-color-azure { background-color: azure; }
.border-color-azure { border-color: azure; }
.color-beige { color: beige; }
.background-color-beige { background-color: beige; }
.border-color-beige { border-color: beige; }
.color-bisque { color: bisque; }
.background-color-bisque { background-color: bisque; }
.border-color-bisque { border-color: bisque; }
.color-black { color: black; }
.background-color-black { background-color: black; }
.border-color-black { border-color: black; }
.color-blanchedalmond { color: blanchedalmond; }
.background-color-blanchedalmond { background-color: blanchedalmond; }
.border-color-blanchedalmond { border-color: blanchedalmond; }
.color-blue { color: blue; }
.border-width-1-dot-60em { border-width: 1.60em; }
.border-width-1-dot-52em { border-width: 1.52em; }
.border-radius-1-dot-52em { border-radius: 1.52em; }
.border-width-1-dot-53em { border-width: 1.53em; }
.border-radius-1-dot-53em { border-radius: 1.53em; }
.border-width-1-dot-54em { border-width: 1.54em; }
.border-radius-1-dot-54em { border-radius: 1.54em; }
.border-width-1-dot-55em { border-width: 1.55em; }
.border-radius-1-dot-55em { border-radius: 1.55em; }
.border-width-1-dot-56em { border-width: 1.56em; }
.border-radius-1-dot-56em { border-radius: 1.56em; }
.border-width-1-dot-57em { border-width: 1.57em; }
.border-width-1-dot-00em { border-width: 1.00em; }
.border-radius-1-dot-00em { border-radius: 1.00em; }
.border-width-1-dot-01em { border-width: 1.01em; }
.border-radius-1-dot-01em { border-radius: 1.01em; }
.border-width-1-dot-02em { border-width: 1.02em; }
.border-radius-1-dot-02em { border-radius: 1.02em; }
.border-width-1-dot-03em { border-width: 1.03em; }
.border-radius-1-dot-03em { border-radius: 1.03em; }
.border-width-1-dot-04em { border-width: 1.04em; }
.border-radius-1-dot-04em { border-radius: 1.04em; }
.border-width-1-dot-05em { border-width: 1.05em; }
.border-radius-1-dot-05em { border-radius: 1.05em; }
.border-width-1-dot-06em { border-width: 1.06em; }
.border-radius-1-dot-06em { border-radius: 1.06em; }
.border-width-1-dot-07em { border-width: 1.07em; }
.border-radius-1-dot-07em { border-radius: 1.07em; }
.border-width-1-dot-08em { border-width: 1.08em; }
.border-radius-1-dot-08em { border-radius: 1.08em; }
.border-width-1-dot-09em { border-width: 1.09em; }
.border-radius-1-dot-09em { border-radius: 1.09em; }
.border-width-1-dot-10em { border-width: 1.10em; }
.border-radius-13-dot-52em { border-radius: 13.52em; }
.border-width-13-dot-53em { border-width: 13.53em; }
.border-radius-13-dot-53em { border-radius: 13.53em; }
.border-width-13-dot-54em { border-width: 13.54em; }
.border-radius-13-dot-54em { border-radius: 13.54em; }
.border-width-13-dot-55em { border-width: 13.55em; }
.border-radius-13-dot-55em { border-radius: 13.55em; }
.border-width-13-dot-56em { border-width: 13.56em; }
.border-radius-13-dot-56em { border-radius: 13.56em; }
.border-width-13-dot-57em { border-width: 13.57em; }
.border-radius-13-dot-57em { border-radius: 13.57em; }
.border-width-13-dot-58em { border-width: 13.58em; }
.border-radius-13-dot-58em { border-radius: 13.58em; }
.border-width-13-dot-59em { border-width: 13.59em; }
.border-radius-13-dot-59em { border-radius: 13.59em; }
.border-width-13-dot-60em { border-width: 13.60em; }
.border-radius-13-dot-60em { border-radius: 13.60em; }
.border-width-13-dot-61em { border-width: 13.61em; }
.border-radius-13-dot-61em { border-radius: 13.61em; }
.border-width-13-dot-62em { border-width: 13.62em; }
.border-radius-13-dot-62em { border-radius: 13.62em; }
.border-width-13-dot-63em { border-width: 13.63em; }
.border-radius-13-dot-63em { border-radius: 13.63em; }
.border-width-13-dot-64em { border-width: 13.64em; }
.border-radius-13-dot-64em { border-radius: 13.64em; }
.border-width-13-dot-65em { border-width: 13.65em; }
.border-radius-13-dot-65em { border-radius: 13.65em; }
.border-width-13-dot-66em { border-width: 13.66em; }
.margin-bottom-52px { margin-bottom: 52px; }
.margin-left-52px { margin-left: 52px; }
.margin-right-52px { margin-right: 52px; }
.margin-top-52px { margin-top: 52px; }
.margin-53px { margin: 53px; }
.margin-bottom-53px { margin-bottom: 53px; }
.margin-left-53px { margin-left: 53px; }
.margin-right-53px { margin-right: 53px; }
.margin-top-53px { margin-top: 53px; }
.margin-54px { margin: 54px; }
.margin-bottom-54px { margin-bottom: 54px; }
.margin-left-54px { margin-left: 54px; }
.margin-right-54px { margin-right: 54px; }
.margin-top-54px { margin-top: 54px; }
.margin-55px { margin: 55px; }
.margin-bottom-55px { margin-bottom: 55px; }
.margin-left-55px { margin-left: 55px; }
.margin-right-55px { margin-right: 55px; }
.margin-top-55px { margin-top: 55px; }
.margin-56px { margin: 56px; }
.margin-bottom-56px { margin-bottom: 56px; }
.margin-left-56px { margin-left: 56px; }
.margin-right-56px { margin-right: 56px; }
.margin-top-56px { margin-top: 56px; }
.margin-57px { margin: 57px; }
.margin-bottom-57px { margin-bottom: 57px; }
.margin-left-57px { margin-left: 57px; }
.margin-right-57px { margin-right: 57px; }
.margin-top-57px { margin-top: 57px; }
.margin-58px { margin: 58px; }
.margin-bottom-58px { margin-bottom: 58px; }
.margin-left-58px { margin-left: 58px; }
.margin-60px { margin: 60px; }
.margin-bottom-60px { margin-bottom: 60px; }
.margin-left-60px { margin-left: 60px; }
.margin-right-60px { margin-right: 60px; }
.margin-top-60px { margin-top: 60px; }
.margin-61px { margin: 61px; }
.margin-136px { margin: 136px; }
.margin-bottom-136px { margin-bottom: 136px; }
.margin-left-136px { margin-left: 136px; }
.margin-right-136px { margin-right: 136px; }
.margin-top-136px { margin-top: 136px; }
.margin-137px { margin: 137px; }
.margin-bottom-137px { margin-bottom: 137px; }
.margin-left-137px { margin-left: 137px; }
.margin-right-137px { margin-right: 137px; }
.margin-top-137px { margin-top: 137px; }
.margin-138px { margin: 138px; }
.margin-bottom-138px { margin-bottom: 138px; }
.margin-left-138px { margin-left: 138px; }
.margin-right-138px { margin-right: 138px; }
.margin-top-138px { margin-top: 138px; }
.margin-139px { margin: 139px; }
.margin-bottom-139px { margin-bottom: 139px; }
.margin-left-139px { margin-left: 139px; }
.margin-right-139px { margin-right: 139px; }
.margin-top-139px { margin-top: 139px; }
.margin-140px { margin: 140px; }
.margin-bottom-140px { margin-bottom: 140px; }
.margin-left-140px { margin-left: 140px; }
.margin-right-140px { margin-right: 140px; }
.margin-top-140px { margin-top: 140px; }
margin-left-206px { margin-left: 206px; }
.margin-right-206px { margin-right: 206px; }
.margin-top-206px { margin-top: 206px; }
.margin-207px { margin: 207px; }
.margin-bottom-207px { margin-bottom: 207px; }
.margin-left-207px { margin-left: 207px; }
.margin-right-207px { margin-right: 207px; }
.margin-top-207px { margin-top: 207px; }
.margin-208px { margin: 208px; }
.margin-bottom-208px { margin-bottom: 208px; }
.margin-left-208px { margin-left: 208px; }
.margin-right-208px { margin-right: 208px; }
.margin-top-208px { margin-top: 208px; }
.margin-209px { margin: 209px; }
.margin-bottom-209px { margin-bottom: 209px; }
.margin-left-209px { margin-left: 209px; }
.margin-right-209px { margin-right: 209px; }
.margin-top-209px { margin-top: 209px; }
.margin-210px { margin: 210px; }
.margin-bottom-210px { margin-bottom: 210px; }
.margin-left-210px { margin-left: 210px; }
.margin-right-210px { margin-right: 210px; }
.margin-top-210px { margin-top: 210px; }
.margin-211px { margin: 211px; }
.margin-bottom-211px { margin-bottom: 211px; }
.margin-left-211px { margin-left: 211px; }
.margin-right-211px { margin-right: 211px; }
.margin-top-211px { margin-top: 211px; }

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

#demotext {
color: #d9d9d9;
background: #e8e8e8;
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #d9d9d9;
background: #e8e8e8;
}

#demotext {
color: #FFFFFF;
background: #0e8dbc;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
background: #0e8dbc;
}

#neon {
color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
}

#deep {
color: #e0dfdc;
background: #556677;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
color: #e0dfdc;
background: #556677;
}

#lux {
color: #131313;
background: #e7e5e4;
letter-spacing: .15em;
text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
color: #131313;
background: #e7e5e4;
}

#lux2 {
color: #131313;
background: #e7e5e4;
letter-spacing: .15em;
text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd;
}


.margin-190px { margin: 190px; }
.margin-bottom-190px { margin-bottom: 190px; }
.margin-left-190px { margin-left: 190px; }
.margin-right-190px { margin-right: 190px; }
.margin-top-190px { margin-top: 190px; }
.margin-191px { margin: 191px; }
.margin-bottom-191px { margin-bottom: 191px; }
.margin-left-191px { margin-left: 191px; }
.margin-right-191px { margin-right: 191px; }
.margin-top-191px { margin-top: 191px; }
.margin-192px { margin: 192px; }
.margin-bottom-192px { margin-bottom: 192px; }
.margin-left-192px { margin-left: 192px; }
.margin-right-192px { margin-right: 192px; }
.margin-top-192px { margin-top: 192px; }
.margin-193px { margin: 193px; }
.margin-bottom-193px { margin-bottom: 193px; }
.margin-left-193px { margin-left: 193px; }
.margin-right-193px { margin-right: 193px; }
.margin-top-193px { margin-top: 193px; }
.margin-194px { margin: 194px; }
.margin-bottom-194px { margin-bottom: 194px; }
.margin-left-194px { margin-left: 194px; }


#preview {
color: transparent;
background: #FFFFFF;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

#preview2 {
color: transparent;
background: #FFFFFF;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

.padding-217px { padding: 217px; }
.padding-bottom-217px { padding-bottom: 217px; }
.padding-left-217px { padding-left: 217px; }
.padding-right-217px { padding-right: 217px; }
.padding-top-217px { padding-top: 217px; }
.padding-218px { padding: 218px; }
.padding-bottom-218px { padding-bottom: 218px; }
.padding-left-218px { padding-left: 218px; }
.padding-right-218px { padding-right: 218px; }
.padding-top-218px { padding-top: 218px; }
.padding-219px { padding: 219px; }
.padding-bottom-219px { padding-bottom: 219px; }
.padding-left-219px { padding-left: 219px; }
.padding-right-219px { padding-right: 219px; }
.padding-top-219px { padding-top: 219px; }
.padding-220px { padding: 220px; }
.padding-bottom-220px { padding-bottom: 220px; }
.padding-left-220px { padding-left: 220px; }
.padding-right-220px { padding-right: 220px; }
.padding-top-220px { padding-top: 220px; }
.padding-221px { padding: 221px; }
.padding-bottom-221px { padding-bottom: 221px; }

.x {
color: transparent;
background: #FFFFFF;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}
}

/* Index-2 */ 
    .spacex_features_area { 
        padding: 0 15px;
    } 
/* Index-medical */ 
    .main_header_area.white_bg .sub-container {
        padding: 0 15px;
    } 
    .emmergency_call .messages {
        padding: 90px 20px; 
    }

@media (max-width:1599px){
  .floting_tittle h4{
        left: 0;
    }
    .cuntrap_area .media:nth-child(3) .middle_text{
        padding-left: 30px;
    }
   .core_features_area .core_features_right .customer_supports .supports_right{
        padding-left: 0;
    }
    .quality_services_area .floting_tittle h4{
        left: -30px;
    }
  .footer_area .social_media_area{
        padding-left: 10px;
    }
    .footer_area .social_media_area ul li a{
        padding-right: 50px;
    }

  .carosel-center_tittle h4{
        margin-left: 0;
    }
    .spacex_features_area .spacex_features .responsive_browsers { 
        padding: 40px 15px; 
    }

  .spacex_features_area .spacex_features .responsive_browsers h4{
        font-size: 15px;
    }
    /* Index-3 */ 
    .clients_testimonials_logo .clients_logo_area {
        padding: 65px 70px; 
    }
  
  .padding-bottom-220px { padding-bottom: 220px; }
.padding-left-220px { padding-left: 220px; }
.padding-right-220px { padding-right: 220px; }
.padding-top-220px { padding-top: 220px; }
.padding-221px { padding: 221px; }
.padding-bottom-221px { padding-bottom: 221px; }
  .blog_widget{
        padding-left: 0;
    }
  .quality_services_area .floting_tittle h4{
        left: -30px;
    }
    .footer_area .social_media_area{
        padding-left: 10px;
    }
    .footer_area .social_media_area ul li a{
        padding-right: 50px;
    }
}

@media (max-width:1366px){
  .rs_tittle{
        width: 100%;
        padding-left: 100px;
    }

  .premium_support_area .custom-container{
        position: relative;
    }
    .premium_support_area .custom-container .rs_tittle{
        padding-left: 50px;
    } 
  .footer_area .social_media_area ul li a{
        padding-right: 15px;
    }
    .footer_widget_area{
        padding-left: 15px;
        padding-right: 15px;
    }
  /* Index-2 */ 
    .theme_features_area .floting_tittle h4{
        margin-left: 0;
    }
    .carosel-center_tittle {
        left: 50%;
        width: 100%;
        transform: translateY(-50%);
        padding: 0;
    }

  .quality_services_area .floting_tittle{
        left: 50%;
        width: 100%;
        transform: translateY(-50%);
        padding: 0;
    }
    .quality_services_area .floting_tittle h4{
        margin-left: 0; 
    } 

  .floting_tittle h4 {
        left: 0;
        transform: rotate(0deg);
        top: 0;
        margin-top: 0px;
        position: relative;
        width: 100%;
        max-width: 300px;
        margin-left: 80px; 
    }

  .cuntrap_area{
        padding-left: 15px;
        padding-right: 15px;
    }
    .premium_support_area .we_provide .provide_content p{
        padding-right: 15px;
    }
  
  .navbar.navbar-default .collapse .navbar-nav.navbar-right li a {
        margin-right: 15px;
    }
    .trends_area.row.m0 .trends_area_inner{
        padding: 0 15px;
    }
  .floting_tittle h4 {
        left: 0;
        transform: rotate(0deg);
        top: 0;
        max-width: 300px;
        margin-left: 80px; 
    }
  .expertise_area .expertise_left_area{
        position: relative;
    }
    .floting_tittle{
        width: 604px;
        float: right;
        position: absolute;
        right: 0;
        top: 90px;
    }
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/*
	1. Inherit text decoration (all)
	2. Inherit vertical alignment (all)
 */
::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

.scroll-view {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.row {
  max-width: 80rem; }

.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5em 0; }

.black-box {
  background: black;
  color: white;
  display: inline-block;
  padding: 0px 0.3em; }

.full-bleed {
  margin: 0 -0.9375rem; }

.top-gap-big {
    margin-top: var(--width-gap-double) !important;
}
.top-gap {
    margin-top: var(--width-gap) !important;
}
.top-gap-0 {
    margin-top: 0 !important;
}

#demo {
color: #FFFFFF;
background: #FFFFFF;
text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
color: #FFFFFF;
background: #3E4AFF;
}

#demotext {
color: #FFFFFF;
background: #333333;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
background: #333333;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-muted {
    color: var(--color-text-muted);
}
.text-primary {
    color: var(--color-primary);
}
.text-danger {
    color: var(--color-danger);
}
a.text-muted,
a.text-primary,
a.text-danger {
    text-decoration: underline;
}

.text-small {
    font-size: var(--font-size-small);
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

body{font-family:Georgia,Cambria,"Times New Roman",Times,serif;font-weight:400;font-size:21px !important;line-height:1.58;letter-spacing:-.003em;margin-top:29px;width:90vh;margin:0 auto;padding-left:5vw !important}h1{margin-top:0;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:700;font-style:normal;font-size:36px;margin-left:-2.25px;line-height:1.15;letter-spacing:-.02em;color:rgba(0,0,0,.8);word-wrap:break-word}h1{border-bottom:0 !important}h2,h3,h4,h5,h6{margin-top:39px;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:300;font-style:normal;margin-left:-1.75px;line-height:1.22;letter-spacing:-.022em;color:rgba(0,0,0,.44)}h2{font-size:28px}h3{font-size:26px}h4{font-size:24px}h5{font-size:22px}h6{font-size:20px}nav{display:none}blockquote{margin-top:55px;font-family:Georgia,Cambria,"Times New Roman",Times,serif;font-weight:400;font-style:italic;font-size:28px;margin-left:-1.75px;line-height:1.48;letter-spacing:-.014em;color:rgba(0,0,0,.6);border:0;padding:0;padding-left:50px;text-align:left}blockquote:before{color:rgba(0,0,0,.6) !important}hr{margin-top:52px;margin-bottom:42px;border:0;text-align:center}hr:before{font-family:Georgia,Cambria,"Times New Roman",Times,serif;font-weight:400;font-style:italic;font-size:28px;letter-spacing:.6em;content:'...';display:inline-block;margin-left:.6em;color:rgba(0,0,0,.6);position:relative;top:-30px}a{text-decoration:none;background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);background-repeat:repeat-x;background-size:2px 2px;background-position:0 22px;color:inherit;background-color:transparent}a:hover{outline:0;color:inherit}p{font-size:inherit}caption,figcaption{font-style:normal !important;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;font-weight:300 !important;font-size:13px !important;line-height:1.4 !important;color:rgba(0,0,0,.6) !important;letter-spacing:0 !important;text-align:center !important;margin-top:10px !important}caption,figcaption a:hover{outline:0;color:inherit}td{padding:21px}tfoot{font-weight:bold}img{max-width:100%}video{max-width:85vw}@media all and (max-width:600px){table{width:55vw !important;font-size:3vw}pre{font-size:large}


hr {
	overflow: visible;
	height: 0;
}

/*
	Add correct display
*/
main, /* (IE11) */
details { /* (Edge 18-, IE) */
	display: block;
}

summary { /* (all) */
	display: list-item;
}

/*
	Remove style on navigation lists (all)
*/
nav ol,
nav ul {
	list-style: none;
	padding: 0;
}
abbr[title] {
	cursor: help; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted; /* 2 */
}

/*
	Add correct font weight (Chrome, Edge, Safari)
*/
b,
strong {
	font-weight: bolder;
}

/*
	Add correct font size (all)
*/
small {
	font-size: 80%;
}

/*
	Change alignment on media elements (all)
*/
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
	Remove border on iframes (all)
*/
iframe {
	border-style: none;
}

/*
	Change fill color to match text (all)
*/
svg:not([fill]) {
	fill: currentColor;
}

/*
	Hide overflow (IE11)
*/
svg:not(:root) {
	overflow: hidden;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  /*
	Remove inconsistent and unnecessary margins
*/
body, /* (all) */
dl dl, /* (Chrome, Edge, IE, Safari) 5 lines */
dl ol,
dl ul,
ol dl,
ul dl,
ol ol, /* (Edge 18-, IE) 4 lines */
ol ul,
ul ol,
ul ul,
button, /* (Safari) 3 lines */
input,
select,
textarea { /* (Firefox, Safari) */
	margin: 0;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

/*
	1. Use default monospace UI font (all)
	2. Correct font sizing (all)
*/
pre,
code,
kbd,
samp {
	font-family:
		/* macOS 10.10+ */ "Menlo",
		/* Windows 6+ */ "Consolas",
		/* Android 4+ */ "Roboto Mono",
		/* Ubuntu 10.10+ */ "Ubuntu Monospace",
		/* KDE Plasma 5+ */ "Noto Mono",
		/* KDE Plasma 4+ */ "Oxygen Mono",
		/* Linux/OpenOffice fallback */ "Liberation Mono",
		/* fallback */ monospace,
		/* macOS emoji */ "Apple Color Emoji",
		/* Windows emoji */ "Segoe UI Emoji",
		/* Windows emoji */ "Segoe UI Symbol",
		/* Linux emoji */ "Noto Color Emoji"; /* 1 */

	font-size: 1em; /* 2 */
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
