background-color-aliceblue { background-color: aliceblue; }
.border-color-aliceblue { border-color: aliceblue; }
.color-antiquewhite { color: antiquewhite; }
.background-color-antiquewhite { background-color: antiquewhite; }
.border-color-antiquewhite { border-color: antiquewhite; }
.color-aqua { color: aqua; }
.background-color-aqua { background-color: aqua; }
.border-color-aqua { border-color: aqua; }
.color-aquamarine { color: aquamarine; }
.background-color-aquamarine { background-color: aquamarine; }
.border-color-aquamarine { border-color: aquamarine; }
.color-azure { color: azure; }
.background-color-azure { background-color: azure; }
.border-color-azure { border-color: azure; }
.color-beige { color: beige; }
.background-color-beige { background-color: beige; }
.border-color-beige { border-color: beige; }
.color-bisque { color: bisque; }
.background-color-bisque { background-color: bisque; }
.border-color-bisque { border-color: bisque; }
.color-black { color: black; }
.background-color-black { background-color: black; }
.border-color-black { border-color: black; }
.color-blanchedalmond { color: blanchedalmond; }
.background-color-blanchedalmond { background-color: blanchedalmond; }
.border-color-blanchedalmond { border-color: blanchedalmond; }
.color-blue { color: blue; }
.border-width-1-dot-60em { border-width: 1.60em; }
.border-width-1-dot-52em { border-width: 1.52em; }
.border-radius-1-dot-52em { border-radius: 1.52em; }
.border-width-1-dot-53em { border-width: 1.53em; }
.border-radius-1-dot-53em { border-radius: 1.53em; }
.border-width-1-dot-54em { border-width: 1.54em; }
.border-radius-1-dot-54em { border-radius: 1.54em; }
.border-width-1-dot-55em { border-width: 1.55em; }
.border-radius-1-dot-55em { border-radius: 1.55em; }
.border-width-1-dot-56em { border-width: 1.56em; }
.border-radius-1-dot-56em { border-radius: 1.56em; }
.border-width-1-dot-57em { border-width: 1.57em; }
.border-width-1-dot-00em { border-width: 1.00em; }
.border-radius-1-dot-00em { border-radius: 1.00em; }
.border-width-1-dot-01em { border-width: 1.01em; }
.border-radius-1-dot-01em { border-radius: 1.01em; }
.border-width-1-dot-02em { border-width: 1.02em; }
.border-radius-1-dot-02em { border-radius: 1.02em; }
.border-width-1-dot-03em { border-width: 1.03em; }
.border-radius-1-dot-03em { border-radius: 1.03em; }
.border-width-1-dot-04em { border-width: 1.04em; }
.border-radius-1-dot-04em { border-radius: 1.04em; }
.border-width-1-dot-05em { border-width: 1.05em; }
.border-radius-1-dot-05em { border-radius: 1.05em; }
.border-width-1-dot-06em { border-width: 1.06em; }
.border-radius-1-dot-06em { border-radius: 1.06em; }
.border-width-1-dot-07em { border-width: 1.07em; }
.border-radius-1-dot-07em { border-radius: 1.07em; }
.border-width-1-dot-08em { border-width: 1.08em; }
.border-radius-1-dot-08em { border-radius: 1.08em; }
.border-width-1-dot-09em { border-width: 1.09em; }
.border-radius-1-dot-09em { border-radius: 1.09em; }
.border-width-1-dot-10em { border-width: 1.10em; }
.border-radius-13-dot-52em { border-radius: 13.52em; }
.border-width-13-dot-53em { border-width: 13.53em; }
.border-radius-13-dot-53em { border-radius: 13.53em; }
.border-width-13-dot-54em { border-width: 13.54em; }
.border-radius-13-dot-54em { border-radius: 13.54em; }
.border-width-13-dot-55em { border-width: 13.55em; }
.border-radius-13-dot-55em { border-radius: 13.55em; }
.border-width-13-dot-56em { border-width: 13.56em; }
.border-radius-13-dot-56em { border-radius: 13.56em; }
.border-width-13-dot-57em { border-width: 13.57em; }
.border-radius-13-dot-57em { border-radius: 13.57em; }
.border-width-13-dot-58em { border-width: 13.58em; }
.border-radius-13-dot-58em { border-radius: 13.58em; }
.border-width-13-dot-59em { border-width: 13.59em; }
.border-radius-13-dot-59em { border-radius: 13.59em; }
.border-width-13-dot-60em { border-width: 13.60em; }
.border-radius-13-dot-60em { border-radius: 13.60em; }
.border-width-13-dot-61em { border-width: 13.61em; }
.border-radius-13-dot-61em { border-radius: 13.61em; }
.border-width-13-dot-62em { border-width: 13.62em; }
.border-radius-13-dot-62em { border-radius: 13.62em; }
.border-width-13-dot-63em { border-width: 13.63em; }
.border-radius-13-dot-63em { border-radius: 13.63em; }
.border-width-13-dot-64em { border-width: 13.64em; }
.border-radius-13-dot-64em { border-radius: 13.64em; }
.border-width-13-dot-65em { border-width: 13.65em; }
.border-radius-13-dot-65em { border-radius: 13.65em; }
.border-width-13-dot-66em { border-width: 13.66em; }
.margin-bottom-52px { margin-bottom: 52px; }
.margin-left-52px { margin-left: 52px; }
.margin-right-52px { margin-right: 52px; }
.margin-top-52px { margin-top: 52px; }
.margin-53px { margin: 53px; }
.margin-bottom-53px { margin-bottom: 53px; }
.margin-left-53px { margin-left: 53px; }
.margin-right-53px { margin-right: 53px; }
.margin-top-53px { margin-top: 53px; }
.margin-54px { margin: 54px; }
.margin-bottom-54px { margin-bottom: 54px; }
.margin-left-54px { margin-left: 54px; }
.margin-right-54px { margin-right: 54px; }
.margin-top-54px { margin-top: 54px; }
.margin-55px { margin: 55px; }
.margin-bottom-55px { margin-bottom: 55px; }
.margin-left-55px { margin-left: 55px; }
.margin-right-55px { margin-right: 55px; }
.margin-top-55px { margin-top: 55px; }
.margin-56px { margin: 56px; }
.margin-bottom-56px { margin-bottom: 56px; }
.margin-left-56px { margin-left: 56px; }
.margin-right-56px { margin-right: 56px; }
.margin-top-56px { margin-top: 56px; }
.margin-57px { margin: 57px; }
.margin-bottom-57px { margin-bottom: 57px; }
.margin-left-57px { margin-left: 57px; }
.margin-right-57px { margin-right: 57px; }
.margin-top-57px { margin-top: 57px; }
.margin-58px { margin: 58px; }
.margin-bottom-58px { margin-bottom: 58px; }
.margin-left-58px { margin-left: 58px; }
.margin-60px { margin: 60px; }
.margin-bottom-60px { margin-bottom: 60px; }
.margin-left-60px { margin-left: 60px; }
.margin-right-60px { margin-right: 60px; }
.margin-top-60px { margin-top: 60px; }
.margin-61px { margin: 61px; }
.margin-136px { margin: 136px; }
.margin-bottom-136px { margin-bottom: 136px; }
.margin-left-136px { margin-left: 136px; }
.margin-right-136px { margin-right: 136px; }
.margin-top-136px { margin-top: 136px; }
.margin-137px { margin: 137px; }
.margin-bottom-137px { margin-bottom: 137px; }
.margin-left-137px { margin-left: 137px; }
.margin-right-137px { margin-right: 137px; }
.margin-top-137px { margin-top: 137px; }
.margin-138px { margin: 138px; }
.margin-bottom-138px { margin-bottom: 138px; }
.margin-left-138px { margin-left: 138px; }
.margin-right-138px { margin-right: 138px; }
.margin-top-138px { margin-top: 138px; }
.margin-139px { margin: 139px; }
.margin-bottom-139px { margin-bottom: 139px; }
.margin-left-139px { margin-left: 139px; }
.margin-right-139px { margin-right: 139px; }
.margin-top-139px { margin-top: 139px; }
.margin-140px { margin: 140px; }
.margin-bottom-140px { margin-bottom: 140px; }
.margin-left-140px { margin-left: 140px; }
.margin-right-140px { margin-right: 140px; }
.margin-top-140px { margin-top: 140px; }
margin-left-206px { margin-left: 206px; }
.margin-right-206px { margin-right: 206px; }
.margin-top-206px { margin-top: 206px; }
.margin-207px { margin: 207px; }
.margin-bottom-207px { margin-bottom: 207px; }
.margin-left-207px { margin-left: 207px; }
.margin-right-207px { margin-right: 207px; }
.margin-top-207px { margin-top: 207px; }
.margin-208px { margin: 208px; }
.margin-bottom-208px { margin-bottom: 208px; }
.margin-left-208px { margin-left: 208px; }
.margin-right-208px { margin-right: 208px; }
.margin-top-208px { margin-top: 208px; }
.margin-209px { margin: 209px; }
.margin-bottom-209px { margin-bottom: 209px; }
.margin-left-209px { margin-left: 209px; }
.margin-right-209px { margin-right: 209px; }
.margin-top-209px { margin-top: 209px; }
.margin-210px { margin: 210px; }
.margin-bottom-210px { margin-bottom: 210px; }
.margin-left-210px { margin-left: 210px; }
.margin-right-210px { margin-right: 210px; }
.margin-top-210px { margin-top: 210px; }
.margin-211px { margin: 211px; }
.margin-bottom-211px { margin-bottom: 211px; }
.margin-left-211px { margin-left: 211px; }
.margin-right-211px { margin-right: 211px; }
.margin-top-211px { margin-top: 211px; }

#demotext {
color: #d9d9d9;
background: #e8e8e8;
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #d9d9d9;
background: #e8e8e8;
}

#demotext {
color: #FFFFFF;
background: #0e8dbc;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
background: #0e8dbc;
}

#neon {
color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
}