background-color-aliceblue { background-color: aliceblue; }
.border-color-aliceblue { border-color: aliceblue; }
.color-antiquewhite { color: antiquewhite; }
.background-color-antiquewhite { background-color: antiquewhite; }
.border-color-antiquewhite { border-color: antiquewhite; }
.color-aqua { color: aqua; }
.background-color-aqua { background-color: aqua; }
.border-color-aqua { border-color: aqua; }
.color-aquamarine { color: aquamarine; }
.background-color-aquamarine { background-color: aquamarine; }
.border-color-aquamarine { border-color: aquamarine; }
.color-azure { color: azure; }
.background-color-azure { background-color: azure; }
.border-color-azure { border-color: azure; }
.color-beige { color: beige; }
.background-color-beige { background-color: beige; }
.border-color-beige { border-color: beige; }
.color-bisque { color: bisque; }
.background-color-bisque { background-color: bisque; }
.border-color-bisque { border-color: bisque; }
.color-black { color: black; }
.background-color-black { background-color: black; }
.border-color-black { border-color: black; }
.color-blanchedalmond { color: blanchedalmond; }
.background-color-blanchedalmond { background-color: blanchedalmond; }
.border-color-blanchedalmond { border-color: blanchedalmond; }
.color-blue { color: blue; }
.border-width-1-dot-60em { border-width: 1.60em; }
.border-width-1-dot-52em { border-width: 1.52em; }
.border-radius-1-dot-52em { border-radius: 1.52em; }
.border-width-1-dot-53em { border-width: 1.53em; }
.border-radius-1-dot-53em { border-radius: 1.53em; }
.border-width-1-dot-54em { border-width: 1.54em; }
.border-radius-1-dot-54em { border-radius: 1.54em; }
.border-width-1-dot-55em { border-width: 1.55em; }
.border-radius-1-dot-55em { border-radius: 1.55em; }
.border-width-1-dot-56em { border-width: 1.56em; }
.border-radius-1-dot-56em { border-radius: 1.56em; }
.border-width-1-dot-57em { border-width: 1.57em; }
.border-width-1-dot-00em { border-width: 1.00em; }
.border-radius-1-dot-00em { border-radius: 1.00em; }
.border-width-1-dot-01em { border-width: 1.01em; }
.border-radius-1-dot-01em { border-radius: 1.01em; }
.border-width-1-dot-02em { border-width: 1.02em; }
.border-radius-1-dot-02em { border-radius: 1.02em; }
.border-width-1-dot-03em { border-width: 1.03em; }
.border-radius-1-dot-03em { border-radius: 1.03em; }
.border-width-1-dot-04em { border-width: 1.04em; }
.border-radius-1-dot-04em { border-radius: 1.04em; }
.border-width-1-dot-05em { border-width: 1.05em; }
.border-radius-1-dot-05em { border-radius: 1.05em; }
.border-width-1-dot-06em { border-width: 1.06em; }
.border-radius-1-dot-06em { border-radius: 1.06em; }
.border-width-1-dot-07em { border-width: 1.07em; }
.border-radius-1-dot-07em { border-radius: 1.07em; }
.border-width-1-dot-08em { border-width: 1.08em; }
.border-radius-1-dot-08em { border-radius: 1.08em; }
.border-width-1-dot-09em { border-width: 1.09em; }
.border-radius-1-dot-09em { border-radius: 1.09em; }
.border-width-1-dot-10em { border-width: 1.10em; }